body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 64px 32px;
  font-family: "Nunito Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2em;
  margin-bottom: 32px;
}

#social a, #reading a {
  display: block;
}

#social a:not(:last-child) {
  margin-right: 24px;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-box {
  width: 300px;
}

.content-box:not(:last-child) {
  margin-right: 64px;
}

.content {
  padding: 0 12px;
}

.content p {
  position: relative;
  margin: 6px 0;
}

.ongoing:before {
  visibility: hidden;
  content: "\f3fd";
  margin-right: 4px;
  font-size: 18px;
}

.read:before {
  font-size: 18px;
  color: #16B831;
  margin-right: 4px;
  content: "\f3fd";
}

@media (max-width: 768px) {
  body {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 12px;
  }

  h2 {
    margin-bottom: 1rem;
  }

  #social {
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content-box {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
