body {
  font-family: "Nunito Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 64px 32px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 320px;
  padding: 0 12px;
  box-sizing: border-box;
}

.content-box:not(:last-child) {
  margin-right: 64px;
}

#social {
  font-size: 1.8em;
}

#social a:not(:last-child) {
  margin-right: 12px;
}

#reading a {
  display: block;
}

@media (max-width: 768px) {
  body {
    padding: 24px 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content {
    max-width: none;
    width: 100%;
  }

  .content-box:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
